<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de prueba</title>
</head>
<body>
    <!-- Primero hay que poner los nombres de las cajitas
    metodos GET y POST--> 
    
    <form action="/coder/infoformulario" method="post">
        <!--text puede aceptar cualquier cosa, los demas tienen validaciones extra-->
        <p>
            Ingrese su nombre
            <input type="text" placeholder="Nombre" name="nombre">{% csrf_token %}
        </p>
        <p>
            Ingrese su correo
            <input type="email" placeholder="Correo" name="correo">
        </p>
        <p>
            Ingrese su contraseña
            <input type="password" placeholder="Contraseña" name="contraseña">
        </p>
        <input type="submit" value="Submit">



    </form>

</body>
</html>