{%extends 'coder/base.html' %}
<!-- Herencia desde base con el extends y el comando block 
Se debe cambiar el nombre del bloque ("Contenido") por cada 
bloque que queramos inyectar-->



{% block contenido %}

<h1> Este es el inicio de la pagina </h1>
<p> Este contenido se encuentra en un bloque</p>

{% endblock  %}


<!-- Si no definimo un bloque en la plantilla hija, se pueden mostrar valores
por defecto en la base o plantilla padre-->
{%block usuario%}



        <h1 class="mb-5">Nicolás De Giorgio</h1>
             


{%endblock%}
